{% extends "base.html" %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="../static/bias_buster_home.css">

    <div id="header">
		<p id="headertext">Bias Buster | <a href="">Home</a></p>
	</div>
	<h1>Welcome to Bias Buster.</h1>
	<h2>We'll bust your bias, so you don't have to.</h2>
	<p>Worried you're reading biased news? We're here to help. Here's how it works:</p>
	<ul>
		<li>1. Copy and paste the url of the news article you're reading into the box below.</li>
		<li>2. Push the "Bust my bias!" button and wait for the page to reload. If it seems slow, don't worry. Our code takes about a few minutes to run.</li>
		<li>3. We'll analyze your article, tell you if it's biased, and suggest two centrist <br/> and one opposite-leaning news articles on the same topic for you to check out.</li>
		<br/>
	</ul>
	<form action="/bias_busted" method="post">
        <div id="input">Enter your url here: {{ form.url() }} </div>
		<input id="submit" type="submit" value="Bust my Bias!">
	</form>

{% endblock %}